/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
.tags*
.byebug*
coverage
flow_node_patron-*.gem
flow_node_patron.log
.vscode
